@use 'breakpoints' as bp;

.breadcrumb {
  margin-bottom: var(--space-6);
  font-size: var(--fs-sm);

  ol {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2);
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li:not(:last-child)::after {
    content: '/';
    margin-left: var(--space-2);
    color: var(--c-slate);
  }

  [aria-current] {
    color: var(--c-slate);
  }
}

.layout {
  display: grid;
  gap: var(--space-6);

  @include bp.up(bp.$md) {
    grid-template-columns: minmax(0, 1fr) 15rem;
    gap: var(--space-9);
  }
}

.logo {
  width: 15rem;
  height: auto;
  border: var(--border);

  @include bp.up(bp.$md) {
    grid-row: 1;
    grid-column: 2;
  }
}

.related {
  margin-top: var(--space-8);
  padding-top: var(--space-5);
  border-top: var(--border);

  h2 {
    font-size: var(--fs-lg);
  }

  ul {
    margin: var(--space-4) 0 0;
    padding: 0;
    list-style: none;
  }

  li + li {
    margin-top: var(--space-2);
  }
}
