.details {
  max-width: 36rem;
  padding-top: var(--space-4);
  border-top: 2px solid var(--c-brand);

  > * + * {
    margin-top: var(--space-3);
  }

  h2 {
    font-size: var(--fs-lg);
  }

  address {
    font-style: normal;
  }

  dl {
    margin: var(--space-3) 0 0;
  }

  dt {
    color: var(--c-slate);
    font-size: var(--fs-sm);
  }

  dd {
    margin: 0 0 var(--space-2);
  }
}
