<article class="card">
  <time class="date" [attr.datetime]="item().date">{{ item().date | date: 'd MMMM y' }}</time>

  @if (headingLevel() === 2) {
    <h2 class="title"><ng-container [ngTemplateOutlet]="titleLink" /></h2>
  } @else {
    <h3 class="title"><ng-container [ngTemplateOutlet]="titleLink" /></h3>
  }

  <p class="excerpt">{{ item().excerpt }}</p>
</article>

<ng-template #titleLink>
  @if (item().external) {
    <rg-external-link [href]="item().url">{{ item().title }}</rg-external-link>
  } @else {
    <a [routerLink]="item().url">{{ item().title }}</a>
  }
</ng-template>
